<!DOCTYPE html>
<html manifest="/offline/manifest">
  <head>
    <title>FT Labs - Offline IFRAME Hack</title>
    <script>

      /**
       * Application Cache loader
       *
       * @author George Crawford <george.crawford@ft.com>, Matt Andrews <matt@mattandre.ws>
       * @copyright The Financial Times
       */
      
      (function() {
        "use strict";
      
        var checkTimer = null, ac = window.applicationCache, status = null, hasChecked = false, loopMax = 60;
      
        function checkNow() {
          if (ac.status === ac.CHECKING || ac.status === ac.DOWNLOADING || ac.status === ac.UPDATEREADY) {
            hasChecked = true;
          }
          if (ac.status !== status) {
            status = ac.status;
            trigger(status, hasChecked);
          }
          if (loopMax--) {
            checkIn(1000);
          } else {
            trigger(-1, hasChecked);
          }
        }
      
        function checkIn(ms) {
          if (checkTimer) clearTimeout(checkTimer);
          checkTimer = setTimeout(checkNow, ms);
        }
        function trigger(evt, hasChecked) {
          if (parent && parent.window) {
            parent.window.postMessage({
              type: 'appcache:event',
              args: [evt, hasChecked]
            }, '*');
          }
        }
      
        ac.addEventListener('updateready', checkNow);
        ac.addEventListener('cached', checkNow);
        ac.addEventListener('checking', checkNow);
        ac.addEventListener('downloading', checkNow);
        ac.addEventListener('error', checkNow);
        ac.addEventListener('noupdate', checkNow);
        ac.addEventListener('obsolete', checkNow);
        ac.addEventListener('progress', checkNow);
      
        checkIn(250);
      }());
    </script>
  </head>
  <body>
    <p>FT Labs - Offline IFRAME Hack</p>
    <a href="http://labs.ft.com/category/tutorial/">To learn why this is needed, follow our 'How to make an FT style offline web app' tutorial on our website.</a>
  </body>
</html>
